
.brand {
    font-size: large;
    font-weight: 500;
    transition: 0.5s;
    transition-timing-function: ease-in;
}
.brand:hover {
    color: gold;

}
.nav-li-1, .nav-li-2, .nav-li-3 {
    color: white;

}
.nav-li-1:hover, .nav-li-2:hover, .nav-li-3:hover {
    color: gold;
}


