.test-card {
    box-shadow: none;
    border-radius: 10px;
    
    height: 300px;
    width: 300px;
}
.test-card:hover{
    box-shadow: 10px;
}
img {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 100%;
    margin-top: 10px;
    
}

.sample {

}